:root{
    --naranja: #F2AB01
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url(/Imgs/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 45%;
    bottom: 0
}
.cont-total{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 10px black;
    background-color: #0000006b;
    backdrop-filter: blur (4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    color: #fafafa;
    margin: 0.5rem 0;
 
}
.textos span{
    color: #fafafaa5;
    background-color: rgba(0, 0, 0, 0.512);
    position: absolute;
    top: 130px;
}

.textos h1{
    position: absolute;
    top: 30px;
    font-size: 5rem;
}
.cont-input{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.formulario{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.inputPass{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color: transparent;
    border: none;
    outline: 0px;
    color: #fafafa;
}
label{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #fafafa;
    pointer-events: none;
}
label:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--naranja);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.inp{
    position: absolute;
    bottom: 5px;
    left: 5px;
    transition: all 0.3s ease;
    color: #fafafa;
}
.inputPass:focus + label .inp,
.inputPass:valid + label .inp {
    transform: translateY(-35px);
    color: orange;
    font-size: 10px;
}
.inputPass:focus + label:after,
.inputPass:valid + label:after{
    transform: translateX(0);
}
.ingresar{
    margin-top: 3rem;
    width: 40%;
    height: 20%;
    cursor: pointer;
    background-color: var(--naranja);
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    color: #fafafa;
}


@media (max-width: 600px) {
    body{
        background-image: url(/Imgs/fondoCElu.jpg);
        background-size: cover;
        background-position: bottom;
    }

    .cont-total{
        width: 80%;
        margin-bottom: 150px;
        min-height: 400px;
        z-index: 10;
        margin-top: 100px;
    }
    
    .ingresar{
        width: 80%;
    }

    .formulario{
        width: 70%;
    }
    .inputPass{
        width: 100%;
    }
    .textos span{
        text-align: center;
        font-size: 10px;
        position: absolute;
        top: 250px;
    }
    img{
       display: none;
    }

    .textos h1 {
        text-align: center;
        font-size: 1.8rem;
        position: absolute;
        top: 200px
    }

}