/*************** estilos generales ****************/
:root{
    --naranja: #F2AB01
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    background-image: url(/Imgs/fondo\ qatar\ 2022.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 5rem;
    height: 100%;
    cursor: pointer;
}
.cont-list{
    margin-right: 4rem;
    color: #fafafa;
    display: flex;
    gap: 1rem;
    border: 1px solid   grey;
    background-color: #0000006b;
}
.cont-list li{
    list-style: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.instrucciones{
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-instr{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid   black;
    color: #fafafa;
    font-weight: 100;
    line-height: 1.6rem;
    background-color: #0000006b;
    position: relative;
}

h2{
    margin-bottom: 4rem;
    font-size: 2.5rem;
}
.listInstrucciones{
    margin-left: 3rem;
}
.listInstrucciones span{
    text-decoration: underline;
}
.lis2{
    margin-left: 5rem;
}
.menu {
    display: none;
}
.simulator{
    position: absolute;
    top: -120px;
    right: -90px;
    cursor: pointer;
    background-color: var(--naranja);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.3rem;
    color: #fafafa;
    text-transform: uppercase;
}
.simulacion{
    display: none;
}
/*************** hover y after ****************/
.cont-list li:hover{
    background-color: var(--naranja);
    border-radius: 5px;
}

/*************** mobile ****************/
@media (max-width: 600px) {
    .navbar{
        position: relative;
    }
    .cont-list{
        width: 90%;
        height: 100vh;
        position: absolute;
        background-color: #570E1F;
        top: 50px;
        right: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.4s ease;
        margin-right: 0;
    }
    .cont-list li{
        padding: 1rem;
        border-bottom: 1px solid #fafafa;
        width: 80%;
        text-align: center;
    }
  
    body{
        background-image: url(/Imgs/fondoCElu.jpg);
        background-position: center;
        height: 115%;
    }
    .instrucciones{
        height: 100vh;
    }
    .opacity{
        opacity: 0.5;
    }
    .cont-instr{
        overflow: hidden;
        width: 100vw;
        height: 90%;
        position: absolute;
        top: 60px;
    }
    h2{
        font-size: 2rem;
        margin-top: 1.3rem;
    }
    .listInstrucciones{
        overflow: scroll;
        font-size: small;
        line-height: 1.3rem;
        font-weight: 400;
        margin-left: 1rem;
    }
    .logo{
        position: absolute;
        left: 160px;
        top: 65px;
    }
    .menu{
        display: block;
        position: absolute;
        left: 15;
        top: 10px;
        width: 60px;
        z-index: 10;
    }

    .simulator{
        display: none;
    }
    .simulacion{
        display: block;
        background-color: var(--naranja);
    }
/*************** estilos js ****************/
.listado{
    right: 40;
     box-shadow: 5px 5px 5px black;
     z-index: 10;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
 }
}