*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    background-image: url(/Imgs/fondo\ qatar\ 2022.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 5rem;
    height: 100%;
}
.cont-list{
    display: flex;
    margin-right: 4rem;
    color: #fafafa;
    gap: 1rem;
}
.cont-list li{
    list-style: none;
    padding: 0 1rem;
}

.instrucciones{
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid   black;
    color: #fafafa;
    font-weight: 100;
    line-height: 1.6rem;
    background-color: #fafafa1d;
}

h2{
    margin-bottom: 4rem;
    font-size: 2.5rem;
}
.listInstrucciones{
    margin-left: 3rem;
}
.listInstrucciones span{
    text-decoration: underline;
}
.lis2{
    margin-left: 5rem;
}
.menu {
    display: none;
}

@media (max-width: 600px) {
    .navbar{
        position: relative;
    }
    .cont-list{
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        width: 100%;
        height: auto;
        background-color: #570E1F;
        top: 50px;
        transition: all .4s ease;
        margin-top: 1rem;
    }
    .cont-list li{
        /* display: none; */
        padding: 1rem;
        border-bottom: 1px solid #fafafa;
        width: 80%;
        text-align: center;
    }
    .listado{
        opacity: 1;
        box-shadow: 5px 5px 5px black;
        z-index: 10;
    }
    body{
        background-position: center;
    }
    .instrucciones{
        height: 100%;
    }
    .opacity{
        opacity: 0.5;
    }
    .cont{
        overflow: hidden;
        width: 100vw;
    }
    h2{
        font-size: 2rem;
    }
    .listInstrucciones{
        font-size: small;
        line-height: 1.3rem;
        font-weight: 400;
        margin-left: 1rem;
    }
    .logo{
        position: absolute;
        left: 160px;
        top: 65px;
    }
    .menu{
        display: block;
        position: absolute;
        right: 15;
        top: 10px;
        width: 60px;
    }

}